@charset "utf-8";

/*
---
name: btn-base, btn-size
category: mixins
---

```html
<a class="m-btn" href="#">
  商品購入はこちら
</a>

<br /><br />

<a class="m-btn-large" href="#">
  商品購入はこちら
</a>

<!--
@mixin btn-base {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px #bbb;
  background-color: #999;
  background-repeat: no-repeat;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;

  @media #{map-get($max, sm)}{
    background-size: 1.25rem;
    font-feature-settings : "palt";
  }

  &:link {
    text-decoration: none;
  }
}

@mixin btn-size($max-width, $padding, $background-position, $background-size, $font-size) {
  max-width: $max-width;
  padding: $padding;
  background-position: $background-position;
  background-size: $background-size;
  font-size: $font-size;
}

.m-btn {
  @include btn-base;
  @include btn-size(16rem, .75rem .5rem, right .5rem center, 1.3125rem, $px16);
}
.m-btn-large {
  @include btn-base;
  @include btn-size(24rem, .75rem .5rem, right .5rem center, 1.3125rem, $px24);
}
-->
```

*/


.m-btn {
  @include btn-base;
  @include btn-size(16rem, .75rem .5rem, right .5rem center, 1.3125rem, $px16);
}
.m-btn-large {
  @include btn-base;
  @include btn-size(24rem, .75rem .5rem, right .5rem center, 1.3125rem, $px24);
}


/*
---
name: flex-position
category: mixins
---

```html
<div class="m-flex-position" data-align="center">
  <p>中央寄せ</p>
</div>
<div class="m-flex-position" data-align="left">
  <p>左寄せ</p>
</div>
<div class="m-flex-position" data-align="right">
  <p>右寄せ</p>
</div>

<!--
@mixin flex-position($horizontal:center, $vertical:center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

.m-flex-position {
  &[data-align="center"] { @include flex-position; }
  &[data-align="left"] { @include flex-position(flex-start, center); }
  &[data-align="right"] { @include flex-position(flex-end, center); }
}
-->
```

*/

.m-flex-position {
  &[data-align="center"] { @include flex-position; }
  &[data-align="left"] { @include flex-position(flex-start, center); }
  &[data-align="right"] { @include flex-position(flex-end, center); }

  p {
    padding: 1rem;
    background-color: #ccc;
  }
}


/*
---
name: flex-row
category: mixins
---

```html
<div class="m-flex-row">
  <div class="col-md-6">
    <p style="background-color: #eee;">column1</p>
  </div>
  <div class="col-md-6">
    <p style="background-color: #ccc;">column2</p>
  </div>
</div>

<!--
@mixin flex-row($gutters) {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($gutters / -2);
  margin-left: ($gutters / -2);

  & > [class*="col"] {
    padding-right: ($gutters / 2);
    padding-left: ($gutters / 2);
  }
}

.m-flex-row {
  @include flex-row(1rem);
}
-->
```

*/

.m-flex-row {
  @include flex-row(1rem);
}


/*
---
name: gradient
category: mixins
---

```html
<p class="m-gradient-x">グラデーション-x</p>
<br />
<p class="m-gradient-y">グラデーション-y</p>
<br />
<p class="m-gradient-x-3colors">グラデーション-x-3colors</p>
<br />
<p class="m-gradient-y-3colors">グラデーション-y-3colors</p>
<br />
<p class="m-gradient-radial">グラデーション-radial</p>

<!--
@mixin gradient-x($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
}
.m-gradient-x {
  @include gradient-x(#eee, #333, 0%, 100%);
}

@mixin gradient-y($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
}
.m-gradient-y {
  @include gradient-y(#eee, #333, 0%, 100%);
}

@mixin gradient-x-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
}
.m-gradient-x-3colors {
  @include gradient-x-three-colors(#eee, #ff0000, 50%, #333);
}

@mixin gradient-y-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
}
.m-gradient-y-3colors {
  @include gradient-y-three-colors(#eee, #ff0000, 50%, #333);
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}
.m-gradient-radial {
  @include gradient-radial(#ff0000, #eee);
  padding: 5rem;
}

-->
```

*/

.m-gradient-x {
  @include gradient-x(#eee, #333, 0%, 100%);
}
.m-gradient-y {
  @include gradient-y(#eee, #333, 0%, 100%);
}
.m-gradient-x-3colors {
  @include gradient-x-three-colors(#eee, #ff0000, 50%, #333);
}
.m-gradient-y-3colors {
  @include gradient-y-three-colors(#eee, #ff0000, 50%, #333);
}
.m-gradient-radial {
  @include gradient-radial(#ff0000, #eee);
  padding: 5rem;
}


/*
---
name: horizon
category: mixins
---

```html
<p class="m-horizon">水平線</p>

<!--
@mixin horizon($size, $style, $color) {
  display: flex;
  align-items: center;

  &:before,
  &:after {
    border-top: $size $style $color;
    content: "";
    display: inline;
    flex-grow: 1;
  }
  &:before {
    margin-right: 0.5em;
  }
  &:after {
    margin-left: 0.5em;
  }
}

.m-horizon {
  @include horizon(1px, solid, #000);
}
-->
```

*/

.m-horizon {
  @include horizon(1px, solid, #000);
}


/*
---
name: note
category: mixins
---

```html
<p class="m-note">
  ※注意書き<br />
  注意書き
</p>

<!--
@mixin note($font-size: $px12, $indent: 1em) {
  font-size: $font-size;
  padding-left: $indent;
  text-indent: -($indent);
}

.m-note {
  @include note;
}
-->
```

*/

.m-note {
  @include note;
}


/*
---
name: underline
category: mixins
---

```html
<p class="m-underline">
  テキストに<span>下線</span>を引く
</p>

<!--
@mixin underline($size: 80%, $color: $cYellow) {
  background: linear-gradient(transparent $size, $color 0%);
}

.m-underline span {
  @include underline;
}
-->
```

*/

.m-underline span {
  @include underline(80%, $cYellow);
}
