@charset "utf-8";

/*
---
name: btn
category: parts/btn
---

```html
<span class="c-btn">
  販売終了いたしました
</span>
```
*/


/*
---
name: btn - lgreen_next
category: parts/btn
---

```html
<a class="c-btn" data-type="lgreen_next" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  予約のお申し込みはこちら
</a>
```
*/


/*
---
name: btn - lgreen_down
category: parts/btn
---

```html
<a class="c-btn" data-type="lgreen_down" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  予約のお申し込みはこちら
</a>
```
*/


/*
---
name: btn - orange_next
category: parts/btn
---

```html
<a class="c-btn" data-type="orange_next" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  商品購入はこちら
</a>
```
*/


/*
---
name: btn - orange_down
category: parts/btn
---

```html
<a class="c-btn" data-type="orange_down" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  商品購入はこちら
</a>
```
*/


/*
---
name: btn - red_next
category: parts/btn
---

```html
<a class="c-btn" data-type="red_next" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  定期お届け便購入はこちら
</a>
```
*/


/*
---
name: btn - red_down
category: parts/btn
---

```html
<a class="c-btn" data-type="red_down" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  定期お届け便購入はこちら
</a>
```
*/


/*
---
name: btn - middle
category: parts/btn
---

```html
<a class="c-btn" data-type="orange_next_middle" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  商品購入はこちら
</a>
```
*/


/*
---
name: btn - large
category: parts/btn
---

```html
<a class="c-btn" data-type="orange_next_large" href="#" data-exhref="ec/**SKU**.html" data-ectrakid="ec_PU_**SKU**">
  商品購入はこちら
</a>
```
*/
