@charset "utf-8";

/*
---
name: price
category: parts/price
---

```html
<p class="c-price"><strong>12,345</strong>円<sup>（税込）</sup></p>
```
*/


/*
---
name: price - sale
category: parts/price
---

```html
<p class="c-price" data-type="sale"><strong>12,345</strong>円<sup>（税込）</sup></p>
```
*/
